{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h4>Welcome to Django Project</h4>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Homepage</a></li>
            <li><a href="{% url 'h1' %}">H1 Page</a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
    <main>
        <h4><span>{welocome back} </span>back</h4>
    <img src="{% static 'img/profile.png' %}" alt="Profile Image">
</main>
</body>
</html>
